:root{
  --teal: #5db9b2;
  --yellow: #F8B229;
  --orange: #e27822;
  --brown: #412929;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 47px;
  padding: 50px;
  text-align: center;
  color: var(--brown);
  background-color: var(--yellow)
}